.navbarLogo{
    height: 40px;
    float:left;
    margin-left:10px;
}

ion-title {
    line-height: 2;
}
page-home {
    .card .list .item {
        border-bottom: 1px solid color($colors, lightprimary);
    }
}
